<mat-toolbar>
  <span>Pomodoro</span>
</mat-toolbar>

<div style="text-align:center">

  <mat-card>
    <mat-card-content>
      <form #f="ngForm">
        <mat-form-field style="min-width:400px">
          <input matInput
                 name="pomodoroName"
                 placeholder="I am focussing on..."
                 [(ngModel)]="pomodoroName">
        </mat-form-field>
      </form>

      <span appCenterEl id="time">{{secondsLeft | time}}</span>
      <mat-progress-spinner style="margin:auto" diameter="400" mode="determinate" [value]="countdown" aria-label="Pomodoro countdown"></mat-progress-spinner>

      <div class="row">
        &nbsp;
      </div>

      <button *ngIf="isStoppedOrIsPaused()" mat-raised-button color="primary" (click)="start()">Start</button>
      <button *ngIf="isNotPaused()" mat-raised-button color="accent" (click)="pause()">Pause</button>
      <button *ngIf="hasStarted()" mat-raised-button (click)="reset()">Reset</button>
    </mat-card-content>
  </mat-card>

</div>
