<mat-toolbar>
  <span>Pomodoro</span>
</mat-toolbar>

<div style="text-align:center">

  <mat-card>
    <mat-card-content>
      <span id="time">{{seconds}}</span>
      <mat-progress-spinner style="margin:auto" diameter="400" mode="determinate" [value]="countdown" aria-label="Pomodoro countdown"></mat-progress-spinner>

      <div class="row">
        &nbsp;
      </div>

      <button mat-raised-button color="primary" (click)="start()">Start</button>
      <button mat-raised-button color="primary" (click)="pause()">Pause</button>
      <button mat-raised-button (click)="reset()">Reset</button>
    </mat-card-content>
  </mat-card>

</div>
